@import '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/shared.scss';

.headerContainer {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    background-color: $p-white;
    font-size: 9vw;
    height: 10rem;

    @include lg {
        font-size: 2.5rem;
        justify-content: flex-start;
        padding-left: 10%;
    }
}

.headerContainerWhite {
    border-bottom: 3px solid $p-white;
}

.headerContainerBlack { 
    border-bottom: 3px solid $p-black;

}

.numberHeader {

    display: none;

    @include lg {
        display: inline;
        color: $p-black;
        font-style: italic;
        margin-right: 1.5rem;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.sectionHeader {
    color: $p-white;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: line-through;    
}