@import '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/shared.scss';

.leftHeaderContainer {
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  padding-right: 3rem;
  align-self: stretch;
}

.blackBackground {
  border-right: 3px solid $p-white;
  color: $p-black;
}

.whiteBackground { 
  border-right: 3px solid $p-black;
  color: $p-white;
}
