@import '../../styles/breakpoints.scss';
@import '../../styles/colors.scss';
@import '../../styles/shared.scss';

.downArrowContainer {
  position: absolute;

  top: 75%;
  left: 10vw;

  @include lg {
    top: 80%;
    left: 8%;
  }

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  justify-self: flex-end;
  font-size: 2rem;
  font-style: normal;
  text-decoration: none;
  .arrowsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $p-black;
  }

  transition: all 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    font-style: italic;
    text-decoration: line-through;
    transition: all 0.3s ease-in;
  }

}

.downIcon {
  padding: none;
  height: 35px;
}

.scrollText {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
