@import '../../styles/breakpoints.scss';
@import '../../styles/colors.scss';
@import '../../styles/shared.scss';

.moreContainer {
  background-color: $p-white;
  color: $p-black;

  width: 100%;
  min-height: 100vh;
  
  display: flex;
  justify-content: center;

  .innerContainer {
    width: 50%;
  }

}