@import '../../styles/breakpoints.scss';
@import '../../styles/colors.scss';
@import '../../styles/shared.scss';

.container {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  width: 90%;
  @include lg {
    width: 750px;
  }

  @include xl {
    width: 1000px;
  }
}

.imageLeft {
  
  flex-direction: column-reverse;

  @include lg {
    flex-direction: row;
  }
}

.imageRight {
  flex-direction: column-reverse;

  @include lg {
    flex-direction: row-reverse;
  }
}

.image {
  border-radius: 5px;
  width: 90%;

  @include lg { 
    width: auto;
    height: 400px;
  }
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.descriptionTitle {
  font-size: 1.9rem;
  font-weight: bold;
  margin-bottom: 0px;
}

.description {
  font-size: 1.3rem;
}

.link {
  color: #2cb67d;
  font-size: 2rem;
}