$dark-blue: #3D5A80;
$med-blue: #98C1D9;
$light-blue: #98C1D9;
$red: #EE6C4D;
$light-black: #293241;
$black: #1E1E24;
$charcoal: #2F394D;
$cadet: #56666B;
$cream: #fefae0;
$off-white: #f8f0e3;
$tan:#ebc39c;
$white: #FFFFFF;
//$white: #fcfcfc;

$dodger-blue: #4392F1;
$magnolia: #ECE8EF;
$lavender: #E3EBFF;
$alice: #E7F0FF;
$cinnabar: #DC493A;


$p-blue: #0d3b66;
$p-white: #f8f8f8;
$p-red: #fb5851;
$p-black: #1c1a20;